[submodule "kdenlive"]
	path = kdenlive
  url = git@github.com:coreyoconnor/kdenlive.git
	branch = master
[submodule "nixpkgs"]
	path = nixpkgs
	url = git@github.com:coreyoconnor/nixpkgs.git
	branch = release
[submodule "movit"]
	path = movit
	url = git@github.com:coreyoconnor/movit.git
	branch = master
[submodule "mlt"]
	path = mlt
	url = git@github.com:coreyoconnor/mlt.git
	branch = master
